@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}

.login-page {
  width: 399px;
  padding: 10% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border-color: rgba(224, 218, 218, 0.904);
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  background-color: #ee0c7d;
  text-align: center;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.buttonstyle{
    display : flex;
    flex: 1;
    display: inline-block;
    margin-left: 25px;
    margin-right: 10px;
}

.form .message {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}